<!--The content below is only a placeholder and can be replaced.-->
<table border="1">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of listaPosts">
      <td>{{ post.userId }}</td>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td><button (click)="deletePost(post)" >Delete</button></td>
    </tr>
  </tbody>
</table>
<h1>{{message}}</h1>
